[submodule "software/atf"]
	path = software/atf
	url = https://github.com/ict-accel-team/arm-trusted-firmware
	branch = xilinx-v2019.1-nf-dev
[submodule "software/uboot"]
	path = software/uboot
	url = https://github.com/ict-accel-team/u-boot-xlnx
	branch = xilinx-v2019.1-nf-dev
[submodule "software/linux"]
	path = software/linux
	url = https://github.com/ict-accel-team/linux-xlnx
	branch = xilinx-v2019.1-nf-dev
[submodule "bootstrap/dt-gen"]
	path = bootstrap/dt-gen
	url = https://github.com/ict-accel-team/device-tree-xlnx
	branch = xilinx-v2019.1-nf-dev
[submodule "software/tee/optee"]
	path = software/tee/optee
	url = https://github.com/ict-accel-team/optee_os
	branch = 3.5.0-dev
[submodule "software/xen"]
	path = software/xen
	url = https://github.com/ict-accel-team/xilinx-xen
	branch = xilinx-v2019.1-nf-dev
[submodule "fpga/design/serve/pdk"]
	path = fpga/design/serve/pdk
	url = https://github.com/ict-accel-team/SERVE
