[submodule "software/atf"]
	path = software/atf
	url = https://github.com/ict-accel-team/arm-trusted-firmware
	branch = xilinx-v2019.1-nf-dev
[submodule "bootstrap/dt-gen"]
	path = bootstrap/dt-gen
	url = https://github.com/ict-accel-team/device-tree-xlnx
	branch = xilinx-v2019.1-nf-dev
[submodule "software/tee/optee"]
	path = software/tee/optee
	url = https://github.com/ict-accel-team/optee_os
	branch = 3.5.0-dev
[submodule "software/xen"]
	path = software/xen
	url = https://github.com/ict-accel-team/xilinx-xen
	branch = xilinx-v2019.1-nf-dev
[submodule "software/openbmc"]
	path = software/openbmc
	url = https://github.com/ict-accel-team/openbmc
	branch = tmp
[submodule "bootstrap/ipxe"]
	path = bootstrap/ipxe
	url = https://github.com/ict-accel-team/ipxe
	branch = v1.20.1-dev
[submodule "software/uboot"]
	path = software/uboot
	url = https://github.com/ict-accel-team/u-boot-xlnx
	branch = xilinx-v2020.1-dev
[submodule "software/linux"]
	path = software/linux
	url = https://github.com/ict-accel-team/linux-xlnx
	branch = xilinx-v2020.1-dev
[submodule "software/qemu"]
	path = software/qemu
	url = https://github.com/ict-accel-team/qemu/
	branch = v4.2.0-dev
[submodule "software/opensbi/src"]
	path = software/opensbi/src
	url = https://github.com/ict-accel-team/opensbi
[submodule "software/opensbi/sm"]
	path = software/opensbi/sm
	url = https://github.com/ict-accel-team/sm
[submodule "fpga/design/serve"]
	path = fpga/design/serve
	url = https://github.com/ict-accel-team/SERVE
[submodule "software/modules/keystone-driver"]
	path = software/modules/keystone-driver
	url = https://github.com/ict-accel-team/linux-keystone-driver
[submodule "software/workload/keystone/sdk"]
	path = software/workload/keystone/sdk
	url = https://github.com/ict-accel-team/keystone-sdk
[submodule "software/workload/keystone/eyrie"]
	path = software/workload/keystone/eyrie
	url = https://github.com/ict-accel-team/keystone-runtime
[submodule "fpga/design/nf-accel-shell"]
	path = fpga/design/nf-accel-shell
	url = https://github.com/ict-accel-team/nf-accel-shell
[submodule "fpga/design/nf-firesim"]
	path = fpga/design/nf-firesim
	url = https://github.com/ict-accel-team/nf-firesim
